Flask==2.2.5
flask-cors==4.0.0
gunicorn==20.1.0
uvicorn
fastapi
pydantic
websockets
httpx
hana_ml
hdbcli
python-dotenv
langchain
langchain-google-genai
langgraph
google-generativeai
paypalrestsdk
requests
numpy
scikit-learn
sentence-transformers
torch
Pillow
imagehash
langdetect